@media (min-width: 768px) {
    .new-input {
        width: 50%;
    }
    .l-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .btn-h {
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) {
    .c-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.h-sub {
    font-size: 1.3rem;
}

.btn-h {
    margin-top: 15px;
    font-size: 1.5rem;
    padding:  12px 28px;
}

.l-text {
    font-size: 1.5rem;
}

.s-text {
    font-size: 1.1rem;
}

